# Qatch Analytics Project

## This notebook explores the given dataset and tries to clean it before feeding it to BigQuery

In [2]:
pip install --user pandas

Collecting pandas
  Downloading pandas-1.1.4-cp38-cp38-macosx_10_9_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 2.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp38-cp38-macosx_10_9_x86_64.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 9.5 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 53.9 MB/s eta 0:00:01
Installing collected packages: pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/Users/rohankapadnis/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.19.4 pandas-1.1.4 pytz-2020.4
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --user matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.3-cp38-cp38-macosx_10_9_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from matplotlib) (1.19.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp38-cp38-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 520 kB/s  eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.1-cp38-cp38-macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 22.6 MB/s eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install --upgrade google-cloud-bigquery[pandas]

Collecting google-cloud-bigquery[pandas]
  Downloading google_cloud_bigquery-2.4.0-py2.py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 4.0 MB/s eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Requirement already satisfied: pandas>=0.23.0 in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.1.4)
Collecting google-api-core[grpc]<2.0.0dev,>=1.23.0
  Downloading google_api_core-1.23.0-py2.py3-none-any.whl (91 kB)
     |████████████████████████████████| 91 kB 14.8 MB/s eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Requirement already satisfied: setuptools>=34.0.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (50.3.1.post20201107)
Requirement already satisfied: pytz in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (2020.4)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Requirement already satisfied: setuptools>=34.0.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (50.3.1.post20201107)
Requirement already satisfied: pytz in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (2020.4)
Collecting google-auth<2.0dev,>=1.21.1
  Downloading google_auth-1.23.0-py2.py3-none-any.whl (114 kB)
     |████████████████████████████████| 114 kB 3.0 MB/s eta 0:00:01
Requirement already satisfied: setuptools>=34.0.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (50.3.1.post20201107)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.1.1-py3-none-any.whl (10 kB)
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Collecting google-cloud-core<2.0dev,>=1.4.1
  Downloading google_cloud_core-1.4.3-py2.py3-none-any.whl (27 kB)
Collecting google-resumable-media<2.0dev,>=0.6.0
  Downloading google_resumable_media-1.1.0-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 7.9 MB/s  eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google-crc32c-1.0.0.tar.gz (10 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: cffi>=1.0.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery[pandas]) (1.14.4)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery[pandas]) (2.20)
Collecting googleapis-common-protos<2.0dev,>=1.6.0
  Downloading googleapis_common_protos-1.52.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 2.0 MB/s ta 0:00:01
Collecting grpcio<2.0dev,>=1.29.0
  Downloading grpcio-1.33.2-cp38-cp38-macosx_10_9_x86_64.whl (3.4 MB)
     |████████████████████████████████| 3.4 MB 6.4 MB/s eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Requirement already satisfied: numpy>=1.15.4 in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from pandas>=0.23.0->google-cloud-bigquery[pandas]) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from pandas>=0.23.0->google-cloud-bigquery[pandas]) (2.8.1)
Requirement already satisfied: pytz in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (2020.4)
Collecting proto-plus>=1.10.0
  Downloading proto-plus-1.11.0.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 7.1 MB/s  eta 0:00:01
Collecting protobuf>=3.12.0
  Downloading protobuf-3.14.0-cp38-cp38-macosx_10_9_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 9.0 MB/s eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Collecting pyarrow<3.0dev,>=1.0.0
  Downloading pyarrow-2.0.0-cp38-cp38-macosx_10_13_x86_64.whl (13.4 MB)
     |████████████████████████████████| 13.4 MB 12.5 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15.4 in /Users/rohankapadnis/.local/lib/python3.8/site-packages (from pandas>=0.23.0->google-cloud-bigquery[pandas]) (1.19.4)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 15.1 MB/s eta 0:00:01
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 9.7 MB/s  eta 0:00:01
Requirement already satisfied: six<2.0.0dev,>=1.13.0 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from google-cloud-bigquery[pandas]) (1.15.0)
Collecting requests<3.0.0dev,>=2.18.0
  Downloading requests-2.25.0-py2.py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 10.8 MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/qatch/lib/python3.8/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery[pandas]) (2020.11.8)
Collecting chardet<4,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 10.5 MB/s eta 0:00:01
Collecting idna<3,>=2.5
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 10.4 MB/s eta 0:00:01
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.6-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 10.3 MB/s eta 0:00:01
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.2-py2.py3-none-any.whl (136 kB)
     |████████████████████████████████| 136 kB 12.9 MB/s eta 0:00:01
Building wheels for collected packages: google-crc32c, proto-plus
  Building wheel for google-crc32c (PEP 517) ... done
  Created wheel for google-crc32c: filename=google_crc32c-1.0.0-py3-none-any.whl size=9918 sha256=5d44c8bc944c2bd71bc493681350d5d070c2568f0005d64cb1e6245966e46ff6
  Stored in directory: /Users/rohankapadnis/Library/Caches/pip/wheels/80/8c/fa/7a4feadbb9c2aa7bada4831f00fdcb58fe0d5efc3ebb5d7fd0
  Building wheel for proto-plus (setup.py) ... done
  Created wheel for proto-plus: filename=proto_plus-1.11.0-py3-none-any.whl size=41569 sha256=c6bc840739fd067c94dc2da33304c2aadb4f0f27ca4390d20536ddfb98a518ee
  Stored in directory: /Users/rohankapadnis/Library/Caches/pip/wheels/c3/37/d7/f09b314e0099f7c14b1fb52084680544260470cc3bc20a82ed
Successfully built google-crc32c proto-plus
Installing collected packages: pyasn1, urllib3, rsa, pyasn1-modules, protobuf, idna, chardet, cachetools, requests, googleapis-common-protos, google-auth, grpcio, google-crc32c, google-api-core, proto-plus, google-resumable-media, google-cloud-core, pyarrow, google-cloud-bigquery

Successfully installed cachetools-4.1.1 chardet-3.0.4 google-api-core-1.23.0 google-auth-1.23.0 google-cloud-bigquery-2.4.0 google-cloud-core-1.4.3 google-crc32c-1.0.0 google-resumable-media-1.1.0 googleapis-common-protos-1.52.0 grpcio-1.33.2 idna-2.10 proto-plus-1.11.0 protobuf-3.14.0 pyarrow-2.0.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-2.25.0 rsa-4.6 urllib3-1.26.2
Note: you may need to restart the kernel to use updated packages.

In [31]:
#from google.cloud import bigquery
#client = bigquery.Client()

In [74]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Reading the data and understanding the data types, range of data, count of null values

In [75]:
outbound_text = pd.read_csv("data/outbound_texts.csv")

In [125]:
outbound_text.head()

   text_id  uid text_date
0        1   98  6/2/2020
1        2   98  6/2/2020
2        3   98  6/2/2020
3        4   92  6/3/2020
4        5   76  6/3/2020

In [77]:
outbound_text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22334 entries, 0 to 22333
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text_id    22334 non-null  int64
 1   uid        22334 non-null  int64
 2   text_date  22334 non-null  object
dtypes: int64(2), object(1)
memory usage: 523.6+ KB

In [78]:
outbound_text.describe()

            text_id           uid
count  22334.000000  22334.000000
mean   11174.495836    151.134906
std     6448.721882    102.789183
min        1.000000      1.000000
25%     5589.250000     76.000000
50%    11175.500000    131.000000
75%    16758.750000    212.000000
max    22342.000000    468.000000

In [80]:
purchases = pd.read_csv("data/purchases.csv")

In [81]:
purchases.head()

   purchase id purchase_date  amount  commission  outbound_text_id
0            1      6/4/2020    89.9      14.384                 2
1            2      6/6/2020   218.7      24.057                19
2            3      6/6/2020    99.0       6.930                22
3            4      6/5/2020    52.0       8.320                30
4            5      6/4/2020    24.6       1.230                66

In [82]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   purchase id       297 non-null    int64
 1   purchase_date     297 non-null    object
 2   amount            297 non-null    float64
 3   commission        297 non-null    float64
 4   outbound_text_id  297 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 11.7+ KB

In [83]:
purchases.describe()

       purchase id      amount  commission  outbound_text_id
count   297.000000  297.000000  297.000000        297.000000
mean    149.000000   89.832694   11.251862      10149.491582
std      85.880731   75.770949   11.251669       6347.815540
min       1.000000    7.900000    0.594000          2.000000
25%      75.000000   35.440000    3.688000       5318.000000
50%     149.000000   66.340000    7.307000       9718.000000
75%     223.000000  110.000000   13.800000      15078.000000
max     297.000000  315.500000   59.310000      22335.000000

In [84]:
reaction = pd.read_csv("data/reactions.csv")

In [85]:
reaction.head()

   inbound_text_id inbound_ text _date reaction_type  outbound_text_id
0                6      6/3/2020 17:28         Loved                48
1                7      6/3/2020 17:28         Loved                31
2                8      6/3/2020 17:29         Loved               124
3                9      6/3/2020 17:29      Disliked               103
4               10      6/3/2020 17:29         Liked                38

In [86]:
print(reaction[reaction['outbound_text_id']==1127])

Empty DataFrame
Columns: [inbound_text_id, inbound_ text _date, reaction_type, outbound_text_id]
Index: []

In [87]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7290 entries, 0 to 7289
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   inbound_text_id      7290 non-null   int64
 1   inbound_ text _date  7290 non-null   object
 2   reaction_type        7290 non-null   object
 3   outbound_text_id     7290 non-null   int64
dtypes: int64(2), object(2)
memory usage: 227.9+ KB

In [88]:
reaction.describe()

       inbound_text_id  outbound_text_id
count      7290.000000       7290.000000
mean       4018.975446      10477.386008
std        2156.065856       6493.169227
min           6.000000          1.000000
25%        2165.250000       4623.750000
50%        4016.500000      10223.500000
75%        5880.750000      16279.000000
max        7750.000000      22337.000000

## Calculating the commission margin for every purchase

In [89]:
purchases['margin'] = (purchases.commission*100)/purchases.amount

In [90]:
purchases

     purchase id purchase_date  amount  commission  outbound_text_id  margin
0              1      6/4/2020   89.90     14.3840                 2    16.0
1              2      6/6/2020  218.70     24.0570                19    11.0
2              3      6/6/2020   99.00      6.9300                22     7.0
3              4      6/5/2020   52.00      8.3200                30    16.0
4              5      6/4/2020   24.60      1.2300                66     5.0
..           ...           ...     ...         ...               ...     ...
292          293     8/31/2020  150.00      9.0000             21617     6.0
293          294     8/31/2020   63.01      5.6709             21658     9.0
294          295     8/30/2020   38.89      7.0002             22012    18.0
295          296     8/30/2020  192.00     38.4000             22287    20.0
296          297     8/31/2020   20.00      3.8000             22335    19.0

[297 rows x 6 columns]

In [91]:
purchases['margin'].describe()

count    297.000000
mean      12.390572
std        4.722250
min        5.000000
25%        8.000000
50%       12.000000
75%       16.000000
max       20.000000
Name: margin, dtype: float64

**Hence, the value of Margin ranges from 5% to 20%**

## Rounding the Commission to 2 decimal places

In [92]:
purchases['commission']= purchases['commission'].round(2)

In [93]:
purchases

     purchase id purchase_date  amount  commission  outbound_text_id  margin
0              1      6/4/2020   89.90       14.38                 2    16.0
1              2      6/6/2020  218.70       24.06                19    11.0
2              3      6/6/2020   99.00        6.93                22     7.0
3              4      6/5/2020   52.00        8.32                30    16.0
4              5      6/4/2020   24.60        1.23                66     5.0
..           ...           ...     ...         ...               ...     ...
292          293     8/31/2020  150.00        9.00             21617     6.0
293          294     8/31/2020   63.01        5.67             21658     9.0
294          295     8/30/2020   38.89        7.00             22012    18.0
295          296     8/30/2020  192.00       38.40             22287    20.0
296          297     8/31/2020   20.00        3.80             22335    19.0

[297 rows x 6 columns]

## Merging tables

In [95]:
df = outbound_text.merge(reaction,
                  left_on='text_id',
                  right_on='outbound_text_id',
                  how='left')

In [96]:
df

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id
0,1,98,6/2/2020,74.0,6/3/2020 19:30,Liked,1.0
1,2,98,6/2/2020,75.0,6/3/2020 19:31,Liked,2.0
2,3,98,6/2/2020,77.0,6/3/2020 19:31,Disliked,3.0
3,4,92,6/3/2020,NaN,NaN,NaN,NaN
4,5,76,6/3/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
22470,22338,274,8/29/2020,NaN,NaN,NaN,NaN
22471,22339,433,8/29/2020,NaN,NaN,NaN,NaN
22472,22340,97,8/29/2020,NaN,NaN,NaN,NaN
22473,22341,285,8/29/2020,NaN,NaN,NaN,NaN
22474,22342,293,8/29/2020,NaN,NaN,NaN,NaN

In [97]:
df.isna().sum()

text_id                    0
uid                        0
text_date                  0
inbound_text_id        15185
inbound_ text _date    15185
reaction_type          15185
outbound_text_id       15185
dtype: int64

In [98]:
df.dtypes

text_id                  int64
uid                      int64
text_date               object
inbound_text_id        float64
inbound_ text _date     object
reaction_type           object
outbound_text_id       float64
dtype: object

In [100]:
new = df["inbound_ text _date"].str.split(" ", n = 1, expand = True)
df["Reaction Date"]= new[0]
df["Reaction Time"]= new[1]

In [101]:
df

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id,Reaction Date,Reaction Time
0,1,98,6/2/2020,74.0,6/3/2020 19:30,Liked,1.0,6/3/2020,19:30
1,2,98,6/2/2020,75.0,6/3/2020 19:31,Liked,2.0,6/3/2020,19:31
2,3,98,6/2/2020,77.0,6/3/2020 19:31,Disliked,3.0,6/3/2020,19:31
3,4,92,6/3/2020,NaN,NaN,NaN,NaN,NaN,NaN
4,5,76,6/3/2020,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22470,22338,274,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN
22471,22339,433,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN
22472,22340,97,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN
22473,22341,285,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN
22474,22342,293,8/29/2020,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# df['inbound_ text _date'] =  pd.to_datetime(df['inbound_ text _date'], format='%m%d%YYYY:%H:%M')

In [103]:
df['Reaction Date'] = pd.to_datetime(df['Reaction Date'])

In [104]:
df['Reaction Time'] = pd.to_datetime(df['Reaction Time'])

In [105]:
df = df.dropna()

In [106]:
df.dtypes

text_id                         int64
uid                             int64
text_date                      object
inbound_text_id               float64
inbound_ text _date            object
reaction_type                  object
outbound_text_id              float64
Reaction Date          datetime64[ns]
Reaction Time          datetime64[ns]
dtype: object

In [107]:
df['text_date'] = pd.to_datetime(df['text_date'])

<ipython-input-107-8b065c8a9544>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_date'] = pd.to_datetime(df['text_date'])

## Finding difference in Text Date and Reaction Date to find the number of days after user reacts

In [108]:
df['Date_Diff'] = df['Reaction Date'] - df['text_date']

<ipython-input-108-f68e73ad6b4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date_Diff'] = df['Reaction Date'] - df['text_date']

In [109]:
df

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id,Reaction Date,Reaction Time,Date_Diff
0,1,98,2020-06-02,74.0,6/3/2020 19:30,Liked,1.0,2020-06-03,2020-12-05 19:30:00,1 days
1,2,98,2020-06-02,75.0,6/3/2020 19:31,Liked,2.0,2020-06-03,2020-12-05 19:31:00,1 days
2,3,98,2020-06-02,77.0,6/3/2020 19:31,Disliked,3.0,2020-06-03,2020-12-05 19:31:00,1 days
5,6,70,2020-06-03,35.0,6/3/2020 17:50,Loved,6.0,2020-06-03,2020-12-05 17:50:00,0 days
6,7,70,2020-06-03,36.0,6/3/2020 17:50,Loved,7.0,2020-06-03,2020-12-05 17:50:00,0 days
...,...,...,...,...,...,...,...,...,...,...
22458,22326,249,2020-08-29,7517.0,8/29/2020 16:45,Disliked,22326.0,2020-08-29,2020-12-05 16:45:00,0 days
22463,22331,284,2020-08-29,7710.0,8/30/2020 20:24,Disliked,22331.0,2020-08-30,2020-12-05 20:24:00,1 days
22464,22332,213,2020-08-29,7391.0,8/29/2020 14:48,Loved,22332.0,2020-08-29,2020-12-05 14:48:00,0 days
22465,22333,308,2020-08-29,7366.0,8/29/2020 14:35,Disliked,22333.0,2020-08-29,2020-12-05 14:35:00,0 days
22469,22337,324,2020-08-29,7412.0,8/29/2020 15:09,Liked,22337.0,2020-08-29,2020-12-05 15:09:00,0 days

In [110]:
set(df.Date_Diff)

{Timedelta('0 days 00:00:00'),
 Timedelta('1 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('12 days 00:00:00'),
 Timedelta('13 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('16 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('20 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('23 days 00:00:00'),
 Timedelta('24 days 00:00:00'),
 Timedelta('25 days 00:00:00')}

## Finding the day at which reaction was made

In [111]:
df['Reaction Day'] = df['Reaction Date'].dt.day_name()

<ipython-input-111-1de5b2c1768b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reaction Day'] = df['Reaction Date'].dt.day_name()

In [112]:
df1 = df.copy()

In [113]:
df1

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id,Reaction Date,Reaction Time,Date_Diff,Reaction Day
0,1,98,2020-06-02,74.0,6/3/2020 19:30,Liked,1.0,2020-06-03,2020-12-05 19:30:00,1 days,Wednesday
1,2,98,2020-06-02,75.0,6/3/2020 19:31,Liked,2.0,2020-06-03,2020-12-05 19:31:00,1 days,Wednesday
2,3,98,2020-06-02,77.0,6/3/2020 19:31,Disliked,3.0,2020-06-03,2020-12-05 19:31:00,1 days,Wednesday
5,6,70,2020-06-03,35.0,6/3/2020 17:50,Loved,6.0,2020-06-03,2020-12-05 17:50:00,0 days,Wednesday
6,7,70,2020-06-03,36.0,6/3/2020 17:50,Loved,7.0,2020-06-03,2020-12-05 17:50:00,0 days,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
22458,22326,249,2020-08-29,7517.0,8/29/2020 16:45,Disliked,22326.0,2020-08-29,2020-12-05 16:45:00,0 days,Saturday
22463,22331,284,2020-08-29,7710.0,8/30/2020 20:24,Disliked,22331.0,2020-08-30,2020-12-05 20:24:00,1 days,Sunday
22464,22332,213,2020-08-29,7391.0,8/29/2020 14:48,Loved,22332.0,2020-08-29,2020-12-05 14:48:00,0 days,Saturday
22465,22333,308,2020-08-29,7366.0,8/29/2020 14:35,Disliked,22333.0,2020-08-29,2020-12-05 14:35:00,0 days,Saturday
22469,22337,324,2020-08-29,7412.0,8/29/2020 15:09,Liked,22337.0,2020-08-29,2020-12-05 15:09:00,0 days,Saturday

In [115]:
df1['Date_Diff22']=df1['Date_Diff'].to_string()

In [116]:
df1

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id,Reaction Date,Reaction Time,Date_Diff,Reaction Day,Date_Diff22
0,1,98,2020-06-02,74.0,6/3/2020 19:30,Liked,1.0,2020-06-03,2020-12-05 19:30:00,1 days,Wednesday,0 1 days\n1 1 days\n2 1 d...
1,2,98,2020-06-02,75.0,6/3/2020 19:31,Liked,2.0,2020-06-03,2020-12-05 19:31:00,1 days,Wednesday,0 1 days\n1 1 days\n2 1 d...
2,3,98,2020-06-02,77.0,6/3/2020 19:31,Disliked,3.0,2020-06-03,2020-12-05 19:31:00,1 days,Wednesday,0 1 days\n1 1 days\n2 1 d...
5,6,70,2020-06-03,35.0,6/3/2020 17:50,Loved,6.0,2020-06-03,2020-12-05 17:50:00,0 days,Wednesday,0 1 days\n1 1 days\n2 1 d...
6,7,70,2020-06-03,36.0,6/3/2020 17:50,Loved,7.0,2020-06-03,2020-12-05 17:50:00,0 days,Wednesday,0 1 days\n1 1 days\n2 1 d...
...,...,...,...,...,...,...,...,...,...,...,...,...
22458,22326,249,2020-08-29,7517.0,8/29/2020 16:45,Disliked,22326.0,2020-08-29,2020-12-05 16:45:00,0 days,Saturday,0 1 days\n1 1 days\n2 1 d...
22463,22331,284,2020-08-29,7710.0,8/30/2020 20:24,Disliked,22331.0,2020-08-30,2020-12-05 20:24:00,1 days,Sunday,0 1 days\n1 1 days\n2 1 d...
22464,22332,213,2020-08-29,7391.0,8/29/2020 14:48,Loved,22332.0,2020-08-29,2020-12-05 14:48:00,0 days,Saturday,0 1 days\n1 1 days\n2 1 d...
22465,22333,308,2020-08-29,7366.0,8/29/2020 14:35,Disliked,22333.0,2020-08-29,2020-12-05 14:35:00,0 days,Saturday,0 1 days\n1 1 days\n2 1 d...
22469,22337,324,2020-08-29,7412.0,8/29/2020 15:09,Liked,22337.0,2020-08-29,2020-12-05 15:09:00,0 days,Saturday,0 1 days\n1 1 days\n2 1 d...

In [118]:
df.dtypes

text_id                          int64
uid                              int64
text_date               datetime64[ns]
inbound_text_id                float64
inbound_ text _date             object
reaction_type                   object
outbound_text_id               float64
Reaction Date           datetime64[ns]
Reaction Time           datetime64[ns]
Date_Diff              timedelta64[ns]
Reaction Day                    object
dtype: object

In [72]:
# df1 = df.copy()

In [73]:
# df1

,text_id,uid,text_date,inbound_text_id,inbound_ text _date,reaction_type,outbound_text_id,Reaction Date,Reaction Time,Date_Diff,Reaction Day
0,1,98,2020-06-02,74.0,6/3/2020 19:30,Liked,1.0,2020-06-03,2020-12-05 19:30:00,0 1 days\n1 1 days\n2 1 d...,Wednesday
1,2,98,2020-06-02,75.0,6/3/2020 19:31,Liked,2.0,2020-06-03,2020-12-05 19:31:00,0 1 days\n1 1 days\n2 1 d...,Wednesday
2,3,98,2020-06-02,77.0,6/3/2020 19:31,Disliked,3.0,2020-06-03,2020-12-05 19:31:00,0 1 days\n1 1 days\n2 1 d...,Wednesday
5,6,70,2020-06-03,35.0,6/3/2020 17:50,Loved,6.0,2020-06-03,2020-12-05 17:50:00,0 1 days\n1 1 days\n2 1 d...,Wednesday
6,7,70,2020-06-03,36.0,6/3/2020 17:50,Loved,7.0,2020-06-03,2020-12-05 17:50:00,0 1 days\n1 1 days\n2 1 d...,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...
22458,22326,249,2020-08-29,7517.0,8/29/2020 16:45,Disliked,22326.0,2020-08-29,2020-12-05 16:45:00,0 1 days\n1 1 days\n2 1 d...,Saturday
22463,22331,284,2020-08-29,7710.0,8/30/2020 20:24,Disliked,22331.0,2020-08-30,2020-12-05 20:24:00,0 1 days\n1 1 days\n2 1 d...,Sunday
22464,22332,213,2020-08-29,7391.0,8/29/2020 14:48,Loved,22332.0,2020-08-29,2020-12-05 14:48:00,0 1 days\n1 1 days\n2 1 d...,Saturday
22465,22333,308,2020-08-29,7366.0,8/29/2020 14:35,Disliked,22333.0,2020-08-29,2020-12-05 14:35:00,0 1 days\n1 1 days\n2 1 d...,Saturday
22469,22337,324,2020-08-29,7412.0,8/29/2020 15:09,Liked,22337.0,2020-08-29,2020-12-05 15:09:00,0 1 days\n1 1 days\n2 1 d...,Saturday

In [119]:
new1 = df1["Date_Diff22"].str.split(" ", n = 1, expand = True)
df1["Date_Diff_Clean"]= new[0]

In [ ]:
df1

## Connection with Google BigQuery

In [1]:
from pandas.io import gbq

In [6]:
dataframe = gbq.read_gbq("select uid from qatch.outbound_text", project_id = "qatch-technical-project")

In [7]:
dataframe

       uid
0        1
1        1
2        1
3        1
4        1
...    ...
22329  116
22330  116
22331  116
22332  116
22333  116

[22334 rows x 1 columns]

In [121]:
import pandas_gbq

In [122]:
dataframe

       uid
0        1
1        1
2        1
3        1
4        1
...    ...
22329  116
22330  116
22331  116
22332  116
22333  116

[22334 rows x 1 columns]

In [124]:
pandas_gbq.to_gbq(dataframe, destination_table="qatch.userInfo", project_id = "qatch-technical-project")